* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.ft-section-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper-box {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.gjs-ft-wrap-normal {
  max-width: 1140px;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

.gjs-ft-wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ftsub_heading {
  text-align: center;
  font-size: 23px;
  color: #000000;
  font-weight: 400;
  line-height: 1.2;
}

#i2sm6g {
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  line-height: 1.4;
  margin-top: 5px;
}

#i2nx4s {
  background-color: #212121;
  padding-bottom: 16px;
  padding-top: 16px;
}

.gjs-ft-section {
  padding-top: 10px;
  padding-bottom: 10px;
}