form {
  background: url("https://besthqwallpapers.com/Uploads/4-5-2020/131533/thumb2-brown-abstract-waves-4k-minimal-brown-wavy-background-material-design.jpg");
  background-color: lightblue;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 500px;
}
